@charset "utf-8";

/* *, *:before, *:after {
  word-break: break-all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h3 {
  margin-left: 4px;
}

#stopwatch span {
  font-size: 30px;
  font-weight: 650;
  padding-left: 8px;
  padding-right: 4px;
  
}

button {
  font-weight: 700;
  margin-top: 20px;
  height: 40px;
}

#start {
  margin-left: 4px;
} */


